.keyboard{
  width: 280px;
    height: 368px;
    /* border: 1px solid #d0d0d0; */
    position: absolute;
    top: 69%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline;
}

.row{
  display: flex;
}